<div id="mapdiv">
	<h2 id="maphead">Find Chefs In Your Area!</h2>
	<div id="mapwrap">
	    <div id="map"></div>
		<%= render "maptags" %>
	</div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">   	
    </div>
    <div class="col-md-3", id="chefgallery">
    	<% @chefs.each do |chef| %>
		    <br>
    		<%= image_tag chef.avatar.url(:thumb) %><br>
			Name: <%= chef.fname %>
			<%= chef.lname %> <br>
			Specialty: <%= chef.specialty %> <br>
			<%= link_to "chef", chefs_show_path(chef) %>
		<% end %>
	</div>
    <div class="col-md-3">.col-md-4</div>
</div>
		