<div id="editwrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
  <h2>Edit your account details! <%= resource_name.to_s.humanize %></h2>
    <div id="edit1">
      <div class="field">
        <%= f.label :fname %><br />
        <%= f.text_field :fname, autofocus: true, :class => "su" %>
      </div>

        <div class="field">
        <%= f.label :lname %><br />
        <%= f.text_field :lname, :class => "su" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => "su" %>
      </div>
      <div class="field">
        <%= f.label :Phone %><br />
        <%= f.text_field :phonenumber, :class => "su" %>
      </div>
    </div>
    <div id="edit2">
      <div class="field">
        <%= f.label :Address %><br />
        <%= f.text_field :address, :class => "su" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "su" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "su" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(Enter current password to change)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => "su" %>
      </div>
    </div> 
    <br> 
    <div class="actions">
      <%= f.submit "Update", :class => "subttn" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :class => "subttn", data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>